@use "../abstracts/variables" as var;
body {
    font-family: var.$police-principale;
    margin: 0;
}

h1{
    font-size: 1.8rem;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: var.$police-secondaire;
    text-transform: uppercase;
    color: var.$couleur-principale;
    text-align: center;
    letter-spacing: 1.5px;
}

h2{
    font-family: var.$police-principale;
    font-size: 2rem;
    text-transform: uppercase;
}

h3{
    font-family: var.$police-principale;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

p {
    font-size: 1rem;
    font-family: var.$police-principale;
    color: var.$couleur-principale;
    // line-height: 2; hauteur espacement ligne
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// Pour les mots en couleur :
span {
    font-size: 2rem;
    }