@use "../abstracts/variables" as var;

/* responsive tablette */
@media screen and (max-width: 768px){
    header .navbar{ 
        position: relative;
        overflow: hidden;
        ul{
            display: none;
            a{
                padding: 14px 16px;
            }
        }
        .menu-burger{
        display: flex;
            .icon-burger{
                stroke: var.$couleur-principale;
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;          
            }
        }
    }
    h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.8rem;
    }
    // responsive page accueil
    .card-home{
        width: 70%;
    }
    // responsive page about
    #about .card-about{
        margin-top: 15vh;
        width: 90%;
    }
     // responsive contact
    #contact .card-contact{
        width: 90%;
        padding: 20px;
    }
    #contact .card-contact form .btn-send{
        width: 50%;
        text-align: center;
    }
}

/* responsive mobile */
@media screen and (max-width: 576px){

    // responsive header
    header .navbar .header-logo img{
        width: 80%;
    }
    // responsive footer
    footer .footer-logo img{
        width: 80%;
    }
    footer .footer-icons{
        width: 40%;
    }
    // responsive titres
    h1{
        font-size: 1rem;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 0.8rem;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    p{
        font-size: 0.8rem;
    }
    span{
        font-size: 1rem;
    }

    // responsive accueil
    .card-home{
        width: 90%;
        margin-top: 50%;
        img{
            width: 80%;
            margin-left: 25px;
        }
    }
    h1{
            padding-top: 30%;
            padding-bottom: 30%;
        }
    // responsive page about
    #about .card-about{
        margin-top: 30%;
        width: 100%;
        h2{
            margin-bottom: 100%;
        }
    }
    #about .card-about .about-container{
        flex-direction: column;
    }
    #about .card-about .about-container .about-img img{
        width: 90%;
        left: 18%;
        bottom: 15%;
    }
    // responsive skills
    #skills{
        h2{
            font-size: 1.2rem;
        }
        span{
            font-size: 1.3rem;
        }
        h3{
            margin-top: 30%;
            margin-bottom: 30%;
            padding-bottom: 20%;
        }
    }
    #skills .card-skills{
        width: 90%;
    }
    #skills .card-skills .skills-content img{
        width: 90%;
        margin-left: 15px;
    }
    // responsive portfolio
    #portfolio .card-portfolio{
        margin-top: 50%;
    }
    .carousel-button{
        display: none;
    }
    .carousel .carousel-container{
        flex-direction: column;
        overflow: scroll;
        gap: 20px;
    }
    // responsive contact
    #contact .card-contact{
        width: 90%;
        flex-direction: column;
    }
    #contact .card-contact form{
        width: 100%;
        margin-bottom: 20px;
    }
    #contact .card-contact form label{
        font-weight: 600;
        font-size: 0.8rem;
    }
    #contact .card-contact .card-name{
        width: 100%;
        p{
            font-size: 1rem;
        }
    }
}