$couleur-principale : #F6E9CF;
$couleur-secondaire : black;
$couleur-skills : #FD5A38;
$couleur-portfolio : #5F50F2;
$couleur-about : #4FA389;
$couleur-contact : #EBB945;

$police-principale:"Open Sans",sans-serif;
$police-secondaire:"Anton, sans-serif"