@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.btn-send{
        @include mix.button;
    
    :hover{
        box-shadow: 3px 3px 3px 5px (rgb(200, 185, 100));
        transition: all 0.3s ease;
    }
}