@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

footer{
    background-color: var.$couleur-secondaire;
    padding-bottom: 5px;
    padding-top: 5px;

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo{
        width: 30%;
        img{
            width: 30%;
        }
    }

    .copy{
        p{
            font-size: 0.5rem;
            text-align: center;
        }
    }
// rajouter hover et effet
    .footer-icons{
        display: flex;
        gap: 20px;
        width: 20%;
        
        .icon{
            stroke: var.$couleur-principale;
        }
    }
}