@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// Logo
header{
    background-color: var.$couleur-secondaire;
   
    .header-logo{
        width: 30%;
        img{
            width: 30%;
        }
    }

// Menu burger
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-burger{
            display: none;
        }

         ul{
            display: flex;
            
            li{
                padding-right: 15px;
                padding-left: 15px;
                border-left: 1px solid var.$couleur-principale;

                a{
                    color: var.$couleur-principale;
                    transition: all 0.3s ease;
                    display: block;
                }
                a:hover{
                    text-decoration: underline;
                }
                .about-link:hover{
                    color: var.$couleur-about;
                }
                .skills-link:hover{
                    color: var.$couleur-skills;
                }
                .portfolio-link:hover{
                    color: var.$couleur-portfolio;
                }
                .contact-link:hover{
                    color: var.$couleur-contact;
                }
            }
        }
    }            
}