@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// Page - Accueil
.home{
    background-image: url(../img/Bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-home{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10vh;
}

// Page - About
#about{
    background-image: url(../img/Bg-grille.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    h2{
        color: var.$couleur-about;
        text-align: center;
        padding-top: 40px;
        margin: 20px;
        }   

    .card-about{
        background-color: var.$couleur-secondaire;
        border-radius: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25vh;
        
        .about-container{
            display: flex;

            .about-img{ 
                width: 70%;
                position: relative;
                
                img{
                    width: 100%;
                    clip-path: ellipse(50% 40%);
                    position: absolute;
                    right: 10%;                    
                }
            }
         
            .about-content{
                padding: 20px;

                span{
                    color: var.$couleur-about;
                }
            }
        }
    }
}

// Skills
#skills{
    background-image: url(../img/Bg-skills.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    h2{
        text-align: center;
        padding-top: 40px;
        margin: 20px;
        }

    span{
        color: var.$couleur-skills;
    }

    h3{
        color: var.$couleur-skills;
        font-weight: 900;
        padding-bottom: 30px;
    }
    
    .card-skills{
        background-color: white;
        border-radius: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;

        .skills-content{
            padding-bottom: 20px;
            li{
                font-weight:700;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}

// Portfolio



// Contact