@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// Accueil
.home{
    background-image: url(../img/Bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-home{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10vh;
}

// About
#about{
    background-image: url(../img/Bg-grille.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    h2{
        color: var.$couleur-about;
        text-align: center;
        padding-top: 40px;
        margin: 20px;
        }

    .card-about{
        background-color: var.$couleur-secondaire;
        border-radius: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25vh;
        
        .about-container{
            display: flex;

            .about-img{ 
                width: 60%;
                position: relative;
                
                img{
                    width: 100%;
                    clip-path: ellipse(50% 40%);
                    position: absolute;
                    right: 10%;
                    bottom: 20px;                    
                }
            }
         
            .about-content{
                padding: 20px;

                span{
                    color: var.$couleur-about;
                }
            }
        }
    }
}

// Skills


// Portfolio


// Contact