header {
  background-color: black;
}
header .header-logo {
  width: 30%;
}
header .header-logo img {
  width: 30%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .menu-burger {
  display: none;
}
header .navbar ul {
  display: flex;
}
header .navbar ul li {
  padding-right: 15px;
  padding-left: 15px;
  border-left: 1px solid #F6E9CF;
}
header .navbar ul li a {
  color: #F6E9CF;
}
header .navbar ul li a:hover {
  text-decoration: underline;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: "Anton, sans-serif";
  text-transform: uppercase;
  color: #F6E9CF;
  text-align: center;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Anton, sans-serif";
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #F6E9CF;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  font-size: 2rem;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url(../../fonts/Anton/Anton-Regular.ttf);
  font-family: "Lato Light";
  src: url(../../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
.home {
  background-image: url(../img/Bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-home {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10vh;
}

#about {
  background-image: url(../img/Bg-grille.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#about h2 {
  color: #4FA389;
  text-align: center;
  padding-top: 40px;
  margin: 20px;
}
#about .card-about {
  background-color: black;
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}
#about .card-about .about-container {
  display: flex;
}
#about .card-about .about-container .about-img {
  width: 70%;
  position: relative;
}
#about .card-about .about-container .about-img img {
  width: 100%;
  clip-path: ellipse(50% 40%);
  position: absolute;
  right: 10%;
}
#about .card-about .about-container .about-content {
  padding: 20px;
}
#about .card-about .about-container .about-content span {
  color: #4FA389;
}

#skills {
  background-image: url(../img/Bg-skills.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#skills h2 {
  text-align: center;
  padding-top: 40px;
  margin: 20px;
}
#skills span {
  color: #5F50F2;
}
#skills h3 {
  color: #5F50F2;
  font-weight: 900;
  padding-bottom: 30px;
}
#skills .card-skills {
  background-color: white;
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}
#skills .card-skills .skills-content {
  padding-bottom: 20px;
}
#skills .card-skills .skills-content li {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: black;
  padding-bottom: 5px;
  padding-top: 5px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-logo {
  width: 30%;
}
footer .footer-logo img {
  width: 30%;
}
footer .copy p {
  font-size: 0.5rem;
  text-align: center;
}
footer .footer-icons {
  display: flex;
  gap: 20px;
  width: 20%;
}
footer .footer-icons .icon {
  stroke: #F6E9CF;
}

.btn-send {
  padding: 10px 20px;
  background-color: #EBB945;
  color: black;
  border-radius: 5px;
}
.btn-send :hover {
  box-shadow: 3px 3px 3px 5px rgb(200, 185, 100);
  transition: all 0.3s ease;
}

/*# sourceMappingURL=styles.css.map */
