header {
  background-color: black;
}
header .header-logo {
  width: 30%;
}
header .header-logo img {
  width: 30%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .menu-burger {
  display: none;
}
header .navbar ul {
  display: flex;
}
header .navbar ul li {
  padding-right: 15px;
  padding-left: 15px;
  border-left: 1px solid #F6E9CF;
}
header .navbar ul li a {
  color: #F6E9CF;
  transition: all 0.3s ease;
  display: block;
}
header .navbar ul li a:hover {
  text-decoration: underline;
}
header .navbar ul li .about-link:hover {
  color: #4FA389;
}
header .navbar ul li .skills-link:hover {
  color: #FD5A38;
}
header .navbar ul li .portfolio-link:hover {
  color: #5F50F2;
}
header .navbar ul li .contact-link:hover {
  color: #EBB945;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: "Anton, sans-serif";
  text-transform: uppercase;
  color: #F6E9CF;
  text-align: center;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #F6E9CF;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  font-size: 2rem;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url(../../fonts/Anton/Anton-Regular.ttf);
  font-family: "Lato Light";
  src: url(../../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
.home {
  background-image: url(../img/Bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-home {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10vh;
}

#about {
  background-image: url(../img/Bg-aboutme.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
#about h2 {
  color: #4FA389;
  text-align: center;
  padding-top: 40px;
  margin: 20px;
}
#about h3 {
  color: #4FA389;
  font-weight: 900;
}
#about .card-about {
  background-color: black;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}
#about .card-about .about-container {
  display: flex;
}
#about .card-about .about-container .about-img {
  width: 80%;
  position: relative;
}
#about .card-about .about-container .about-img img {
  width: 100%;
  clip-path: ellipse(50% 40%);
  position: absolute;
  right: 10%;
}
#about .card-about .about-container .about-content {
  padding: 20px;
}
#about .card-about .about-container .about-content span {
  color: #4FA389;
}

#skills {
  background-image: url(../img/Bg-skills.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#skills h2 {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  margin: 20px;
}
#skills span {
  color: #FD5A38;
}
#skills h3 {
  color: #FD5A38;
  font-weight: 900;
  padding-bottom: 10%;
}
#skills .card-skills {
  background-color: white;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}
#skills .card-skills .skills-content img {
  margin-left: 20%;
  width: 60%;
  border: solid 2px black;
  border-radius: 5px;
}

#portfolio {
  background-image: url(../img/Bg-portfolio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .card-portfolio {
  margin-top: 10%;
  border-radius: 20px;
}
#portfolio h2 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 20px;
  margin: 20px;
  color: #5F50F2;
}
#portfolio h3 {
  color: #5F50F2;
  font-weight: 900;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 800px;
  height: 400px;
}
.carousel .carousel-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.carousel .carousel-content {
  min-width: 100%;
  height: 100%;
}
.carousel .carousel-content img {
  width: 100%;
  height: 100%;
}
.carousel .carousel-btn-prev {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  transform: translateY(-50%);
  left: 10px;
  transition: all 0.3s ease;
}
.carousel .carousel-btn-prev:hover {
  background-color: #5F50F2;
}
.carousel .carousel-btn-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  transform: translateY(-50%);
  right: 10px;
  transition: all 0.3s ease;
}
.carousel .carousel-btn-next:hover {
  background-color: #5F50F2;
}

#contact {
  background-image: url(../img/Bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#contact h2 {
  color: #EBB945;
  text-align: center;
  margin-top: 10%;
}
#contact h3 {
  color: #EBB945;
}
#contact p {
  text-align: center;
}
#contact span {
  color: #EBB945;
}

.card-contact {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10vh;
  display: flex;
  gap: 20px;
  padding: 50px;
  border-radius: 20px;
}
.card-contact form {
  width: 50%;
}
.card-contact form label {
  padding-bottom: 1%;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}
.card-contact form input {
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.card-contact form textarea {
  text-align: left;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 70px;
}
.card-contact form .btn-send {
  width: 40%;
  margin: auto;
  text-align: center;
}
.card-contact .card-name {
  background-image: url(../img/Bg-grille.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  border: solid 2px black;
  border-radius: 5px;
  padding: 30px;
  padding-top: 10%;
}
.card-contact .card-name p {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Anton, sans-serif";
  font-size: 1.4rem;
}
.card-contact .card-name .icons {
  text-align: center;
  transition: all 0.3s ease;
}
.card-contact .card-name .icons a:hover {
  stroke: #EBB945;
}

footer {
  background-color: black;
  padding-bottom: 5px;
  padding-top: 5px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-logo {
  width: 30%;
}
footer .footer-logo img {
  width: 30%;
}
footer .copy p {
  font-size: 0.5rem;
  text-align: center;
}
footer .footer-icons {
  display: flex;
  gap: 20px;
  width: 20%;
}
footer .footer-icons .icon {
  stroke: #F6E9CF;
}

.btn-send {
  padding: 10px 20px;
  background-color: #EBB945;
  color: black;
  border-radius: 5px;
}
.btn-send :hover {
  box-shadow: 3px 3px 3px 5px rgb(200, 185, 100);
  transition: all 0.3s ease;
}

/* responsive tablette */
@media screen and (max-width: 768px) {
  header .navbar {
    position: relative;
    overflow: hidden;
  }
  header .navbar ul {
    display: none;
  }
  header .navbar ul a {
    padding: 14px 16px;
  }
  header .navbar .menu-burger {
    display: flex;
  }
  header .navbar .menu-burger .icon-burger {
    stroke: #F6E9CF;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  .card-home {
    width: 70%;
  }
  #about .card-about {
    margin-top: 15vh;
    width: 90%;
  }
  #contact .card-contact {
    width: 90%;
    padding: 20px;
  }
  #contact .card-contact form .btn-send {
    width: 50%;
    text-align: center;
  }
}
/* responsive mobile */
@media screen and (max-width: 576px) {
  header .navbar .header-logo img {
    width: 80%;
  }
  footer .footer-logo img {
    width: 80%;
  }
  footer .footer-icons {
    width: 40%;
  }
  h1 {
    font-size: 1rem;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 0.8rem;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  p {
    font-size: 0.8rem;
  }
  span {
    font-size: 1rem;
  }
  .card-home {
    width: 90%;
    margin-top: 50%;
  }
  .card-home img {
    width: 80%;
    margin-left: 25px;
  }
  h1 {
    padding-top: 30%;
    padding-bottom: 30%;
  }
  #about .card-about {
    margin-top: 30%;
    width: 100%;
  }
  #about .card-about h2 {
    margin-bottom: 100%;
  }
  #about .card-about .about-container {
    flex-direction: column;
  }
  #about .card-about .about-container .about-img img {
    width: 90%;
    left: 18%;
    bottom: 15%;
  }
  #skills h2 {
    font-size: 1.2rem;
  }
  #skills span {
    font-size: 1.3rem;
  }
  #skills h3 {
    margin-top: 30%;
    margin-bottom: 30%;
    padding-bottom: 20%;
  }
  #skills .card-skills {
    width: 90%;
  }
  #skills .card-skills .skills-content img {
    width: 90%;
    margin-left: 15px;
  }
  #portfolio .card-portfolio {
    margin-top: 50%;
  }
  .carousel-button {
    display: none;
  }
  .carousel .carousel-container {
    flex-direction: column;
    overflow: scroll;
    gap: 20px;
  }
  #contact .card-contact {
    width: 90%;
    flex-direction: column;
  }
  #contact .card-contact form {
    width: 100%;
    margin-bottom: 20px;
  }
  #contact .card-contact form label {
    font-weight: 600;
    font-size: 0.8rem;
  }
  #contact .card-contact .card-name {
    width: 100%;
  }
  #contact .card-contact .card-name p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
